body {
	width: 80%;
	margin: 0 auto;
	background-color: black;
	color: #FAFAFA;
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
}

h2 {
	text-align: center;
	font-size: 1.2em;
}

section {
	width: 80%;
	margin: 0 auto;
}

a {
	text-decoration: underline;
	color: white;
}

a:hover {
	color: #969696;
}

#logo {
	width: 20%;
	margin-left: 40%;
}