<!DOCTYPE html>
<head>
    <meta charset="utf-8">

    <title>{{ .Site.Title }}</title>

    <link
      rel="canonical"
      href="{{ .Permalink }}"
    />

    <link
      href="{{ .RSSLink }}"
      rel="alternate"
      type="application/rss+xml"
      title="{{ .Site.Title }}"
    />

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans" rel="stylesheet">

    <link
      rel="stylesheet"
      type="text/css"
      href="/css/styles.css"
    />
</head>
